<h2 class="mdc-typography--title">Configuração</h2>
<div class="mdc-textfield">
  <input type="text" id="message" class="mdc-textfield__input" ng-model="message">
  <label class="mdc-textfield__label" for="message">Message</label>
</div>
<br/>

<div class="mdc-textfield">
  <input type="text" id="action" class="mdc-textfield__input" ng-model="action">
  <label class="mdc-textfield__label" for="action">Action name</label>
</div>
<br/>

<button type="button" class="demo-activate-button mdc-button mdc-button--raised" id="show-snackbar" ng-click="clickF()" >Show</button>